.App {
  text-align: center;

  width: 100%;
}

svg {
  font-size: 3rem;
  color: #407c7f;
}

svg:hover {
  color: #957d7f;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  color: #407c7f;
}

.nav-link:hover {
  color: #acacb4;
}
